<div class="header">
  Team <%= formattedTeamKey %> Matches at <%= eventName %>
</div>
<div class="event-info">
  <span>Event: <%= eventName %> (<%= eventKey %>)</span>
  <span class="now-queuing">Now Queuing: <%= nowQueuing || 'N/A' %></span>
</div>